doctype html
html
  head
    title Project Management Tool
    link(rel="stylesheet" href="/stylesheets/style.css")
  body
    header
      nav
        ul
          li: a(href='/projects') Projects
          // Add more navigation items as needed
    main
      block content
    footer
      p © 2023 Project Management Tool
